<div class="login-box container mat-app-background"
  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
  <mat-card class="login-card" fxFlex="40%">
    <mat-card-header>
      <mat-card-title> eShop - Identification </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <table>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  formControlName="username"
                  matInput
                  placeholder="Votre identifiant"
                />
              </mat-form-field>
              <mat-error>
                <span
                  *ngIf="control.username.invalid && control.username.touched"
                >
                  Votre identifiant est obligatoire...
                </span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  formControlName="password"
                  matInput
                  type="password"
                  placeholder="Votre mot de passe"
                />
              </mat-form-field>
              <mat-error>
                <span
                  *ngIf="control.password.invalid && control.password.touched"
                >
                  Votre mot de passe est obligatoire...
                </span>
              </mat-error>
            </td>
          </tr>
        </table>
        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="primary">Connexion</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

  <app-carousel fxFlex="50%" fxHide.xs></app-carousel>
</div>
